<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zr.crm.dao.UserMapper">

 
	
	<sql id="findUserCons">

		<if test="name != null and name != '' ">
			and name = #{name}
		</if>
		<if test="account != null and account != '' ">
			and account = #{account}
		</if>
	</sql>

	<select id="countUserNums" resultType="int">
		select count(*) from TUSER where 1=1
		<include refid="findUserCons" />
	</select>
	
	<select id="findUserPage" resultType="com.zr.crm.model.User" parameterType="map">
		SELECT *
		FROM (SELECT T.*, ROWNUM rn
		FROM (SELECT * FROM TUSER where 1=1
		<include refid="findUserCons" />
		ORDER BY id DESC) T
		WHERE <![CDATA[ ROWNUM <= #{endIndex} ]]>)
		where rn >= #{startNum}
	</select>
	<select id="findById" parameterType="long"   resultType="com.zr.crm.model.User">
		select id,name,DEPT_NO deptNo 
		from TUSER
		where id = #{id}
	</select>
</mapper>

